---
import CardDeco from "./CardDeco.astro";
---

<section class="bg-secondary py-[.1px] relative overflow-hidden">
    <svg
        class="w-[400px] max-w-[472px] fill-primary/10 absolute top-1/2 -translate-y-1/2 -left-[100px]"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M16.692 11.5455C16.7622 9.58206 16.4574 7.62409 15.7967 5.79396C15.136 3.96383 14.1335 2.30089 12.852 0.909091L12 0L11.148 0.909091C9.91651 2.23138 8.9406 3.8058 8.27719 5.54052C7.61379 7.27525 7.27616 9.13557 7.284 11.013C7.284 11.1948 7.284 11.3766 7.284 11.5455C5.44531 10.3534 3.34334 9.72077 1.2 9.71429H9.48015e-10V11.013C-3.7372e-05 14.2325 1.10492 17.3373 3.10051 19.725C5.0961 22.1127 7.84004 23.6131 10.8 23.9351V24H13.2V23.9351C16.16 23.6131 18.9039 22.1127 20.8995 19.725C22.8951 17.3373 24 14.2325 24 11.013V9.71429H22.8C20.6485 9.71609 18.5377 10.3489 16.692 11.5455V11.5455ZM12 3.77922C13.03 5.19785 13.7426 6.85529 14.082 8.62173C14.4213 10.3882 14.3782 12.2156 13.956 13.961C13.1675 14.8916 12.5085 15.9416 12 17.0779C11.4915 15.9416 10.8325 14.8916 10.044 13.961C9.80941 12.9988 9.68844 12.0082 9.684 11.013C9.67526 8.38718 10.492 5.83624 12 3.77922V3.77922ZM2.484 12.4026C4.56845 12.7066 6.50297 13.743 7.99021 15.3526C9.47746 16.9622 10.4351 19.0558 10.716 21.3117C8.63155 21.0077 6.69704 19.9713 5.20979 18.3617C3.72254 16.7521 2.76488 14.6585 2.484 12.4026V12.4026ZM13.284 21.3117C13.5649 19.0558 14.5225 16.9622 16.0098 15.3526C17.497 13.743 19.4316 12.7066 21.516 12.4026C21.2351 14.6585 20.2775 16.7521 18.7902 18.3617C17.303 19.9713 15.3684 21.0077 13.284 21.3117Z"
        ></path>
    </svg>
    <main class="w-11/12 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 my-6 ">
        <CardDeco
            text="I have a regular schedule to take treatment from GlowQueen, they gave me the best service and treatment ever to maintain the beauty and health of my skin"
            author="Sophia Princeton"
        />
        <CardDeco
            text="For the past few years, I've had a hard time finding the right place for skin care to deal with my complicated skin condition, thank God I found GlowQueen to treat my skin"
            author="Tamara Jules"
        />
    </main>
</section>
