<section class="py-10">
    <main class="w-11/12 mx-auto">
        <article class="flex flex-col gap-6">
            <h1 class="text-4xl text-primary font-bold text-balance">Bring back the beauty and glow of your skin</h1>
            <p class="text-tertiary">We provide you various treatments from head to toe using the best product, advanced technology, and affordable price</p>
            <footer class="butons flex items-center gap-6">
                <a class="bg-primary text-white py-2 px-4 rounded-full inline-flex text-sm" href="#">Book Now</a>
                <a class="flex items-center gap-2 group" href="#">
                    <span class="bg-white rounded-full">
                    <svg class="w-4 h-min p-2 pl-3 box-content stroke-primary fill-transparent transition-colors duration-300 group-hover:fill-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" fill="none" stroke="none"><path stroke-width="1.5" d="M1.33 18.33V1.67a.16.16 0 0 1 .245-.134l13.021 8.33c.1.063.1.205 0 .269l-13.021 8.33a.16.16 0 0 1-.245-.135Z"/></svg
                    ></span>Watch Video</a
                >
            </footer>
        </article>
    </main>
</section>

<style>
    span{
        box-shadow:2px 10px 10px #00000010;
    }
</style>